---
title: Faddrar
slug: faddrar
position: 40
listed: true
published: true
is_layout: false
---
{% extends parent %}

{% block 'main' %}

   	        <div id="wrapBra">

				<h1>Våra faddrar!</h1>

				<div class="profile">
					<!--<h3>Fadder (ska stå klass här..)</h3>-->
					<div class="stabProfile">{{ 'faddrar/cajsa.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Cajsa Sandö</li>
							<li><span>Ålder:</span>23</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 1</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/frida.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Frida Melin</li>
							<li><span>Ålder:</span>22</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 2</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/jonas.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Jonas Erixon</li>
							<li><span>Ålder:</span>22</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 2</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/robin.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Robin Nowakowski</li>
							<li><span>Ålder:</span>26</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 2</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/oscar.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Oscar Nordquist</li>
							<li><span>Ålder:</span>21</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 3</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/christoffer.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Christoffer Ekberg</li>
							<li><span>Ålder:</span>27</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 3</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/lexx.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Lexx Damm</li>
							<li><span>Ålder:</span>31</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 1</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/loke.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Loke Carlsson</li>
							<li><span>Ålder:</span>26</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 3</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/alex.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Alex Naga</li>
							<li><span>Ålder:</span>22</li>
							<li><span>Pluggar:</span>Webbprogrammering, år 2</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/zoran.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Zoran Lukic</li>
							<li><span>Ålder:</span>27</li>
							<li><span>Pluggar:</span>Interaktionsdesign, år 2</li>
						</ul>
					</div>
				</div>

				<div class="profile">
					<!--<h3>Fadder</h3>-->
					<div class="stabProfile">{{ 'faddrar/emma.jpg' | theme_image_tag }}</div>
					<div class="stabInfo">
						<ul>
							<li><span>Namn:</span>Emma Lövgren</li>
							<li><span>Ålder:</span>22</li>
							<li><span>Pluggar:</span>Interaktionsdesign, år 3 inkl. fristående kurser</li>
						</ul>
					</div>
				</div>

   	        </div>

{% endblock %}
