---
title: Faddrar
slug: faddrar
position: 40
listed: true
published: true
is_layout: false
---
{% extends parent %}
{% block 'main' %}
   	        <div id="wrapBra">
     	    	    <h1>Våra faddrar!</h1>
     	    	    <p></p>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder (ska stå klass här..)</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/alex2.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Alex Driaguine</li>
     	    	                <li><span>Ålder:</span>23</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/djSmulan.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
                                 <li><span>Namn:</span>Mathias Sundin</li>
     	    	                <li><span>Ålder:</span>25</li>
     	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/benny.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Benny Kina Carlsson</li>
     	    	                <li><span>Ålder:</span>16</li>
     	    	                <li><span>Pluggar:</span>Kamasutra, år 4</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/mills.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Emilia Drake Af Hagelsrum</li>
     	    	                <li><span>Ålder:</span>26</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/kimsan.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Kim Aaron Mikael Nilsson</li>
     	    	                <li><span>Ålder:</span>25</li>
     	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/filip.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Filip Rydberg</li>
     	    	                <li><span>Ålder:</span>20</li>
     	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/adaml.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Adam Lundberg</li>
     	    	                <li><span>Ålder:</span>24</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/mattiasJ.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Mattias Johansson</li>
     	    	                <li><span>Ålder:</span>23</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	       <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/sandra.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Sandra Hansson</li>
     	    	                <li><span>Ålder:</span>21</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/isabellk.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Isabell Karlsson</li>
     	    	                <li><span>Ålder:</span>24</li>
     	    	                <li><span>Pluggar:</span>Interaktionsdesigner</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/ericSJ.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Eric Sjöström Jennerstrand</li>
     	    	                <li><span>Ålder:</span>21</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/antonOfastMedPrickarPa.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Anton Öberg</li>
     	    	                <li><span>Ålder:</span>23</li>
     	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
     	    	    <div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
     	    	        <div class="stabProfile">{{ 'faddrar/lucas.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Lucas Wik</li>
     	    	                <li><span>Ålder:</span>20</li>
     	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
              		<div class="profile">
     	    	        <!--<h3>Fadder</h3>-->
                      <div class="stabProfile">{{ 'faddrar/sverker.jpg' | theme_image_tag }}</div>
     	    	        <div class="stabInfo">
     	    	            <ul>
     	    	                <li><span>Namn:</span>Sverker Söderlund</li>
     	    	                <li><span>Ålder:</span>21</li>
     	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
     	    	            </ul>
     	    	        </div>
     	    	    </div>
   	        </div>
{% endblock %}
