---
title: Stab
slug: stab
position: 30
listed: true
published: true
is_layout: false
---
{% extends parent %}

{% block 'main' %}

  	        <div id="wrapBra">

				<h1>Detta är vår Eminenta Stab!</h1>

	    	    <p>Staben 2017 består av 5 trogna SPIIKare som under aktiviteterna mestadels kommer att ha arslet nedslaget i en brassestol i väntan på mutor. Du kommer känna igen dem på deras heta röda overaller och glada festhumör. De har planerat och offrat mycket tid för att ta fram en givande och oförglömlig nollning för er, så visa tacksamhet och respekt.</p>

				<div class="profile">
	    	        <h3>General</h3>
	    	        <div class="stabProfile">{{ 'stab/william.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>William Robertson</li>
                        	<li><span>Ålder:</span>20-ish</li>
	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
	    	                <li><span>Citat:</span>"Wubba Lubba dub dub"</li>
	    	                <li><span>Favvomuta:</span>Chips, mat, vuxendricka och söta pojkar</li>
	    	                <li><span>Staben säger:</span>SPIIKs stabgeneral, ingen mindre än (bokstavligen talat enligt han själv) William “Willy” Robertson! Willy är en rödtott som är yngre än vad han låter, men äldre än han ser ut, det hindrar dock inte honom från att låta mest på fest. På utsidan är han en “player”, på insidan är han en äkta WP-kille med koncentrationssvårigheter och en dragning till allt som har med datorer att göra.</li>
	    	            </ul>
	    	        </div>
	    	    </div>

				<div class="profile">
	    	        <h3>Vice General</h3>
	    	        <div class="stabProfile">{{ 'stab/rosa.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Rosa Ekström</li>
                        	<li><span>Ålder:</span>16 år</li>
	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
	    	                <li><span>Citat:</span>“Hej alla Fans!”</li>
	    	                <li><span>Favvomuta:</span>Minttu och bananer</li>
	    	                <li><span>Staben säger:</span>Rosa (hej alla fans) Ekström, Även om hon fyllde 15 förra året dricker hon mer minttu än någon annan av oss i sexmästriet någonsin druckit sammanlagt. Ett litet kraftpaket med vassa knogar som inte är rädd att ge sig ut i strid i gräset där grodorna bor. Ser du att hennes sexmästarmärke är rättvänt, då har hon supit dig under bordet. Låt er inte luras av den spritsmugglande hårda utsidan, på insidan är hon mjukare än nougat och lenare än sammet (som hennes lakan).</li>
	    	            </ul>
	    	        </div>
	    	    </div>

				<div class="profile">
	    	        <h3>Kassör</h3>
	    	        <div class="stabProfile">{{ 'stab/simon.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Simon Österdahl</li>
                        	<li><span>Ålder:</span>50 +</li>
	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
	    	                <li><span>Citat:</span>“Ska vi slåss?!”</li>
	    	                <li><span>Favvomuta:</span>Sub of the day from subway (inte tonfisk)</li>
	    	                <li><span>Staben säger:</span>Stabens kassör (viktigaste (XD)), Simon (Pappa Simon) Österdahl. När han inte lär ut Javascript till de andra barnen i klassen, lever han som en eremit i sin lägenhet på Nyckeln då man sällan ser honom innan 12 på en vardag för att gå hela 50 meter till klassrummet. Simon Österdahl, men för hans vänner: Pappa Simon, är vår gulligaste medlem i staben <3 och man kan inte annat än älska pojken.</li>
	    	            </ul>
	    	        </div>
	    	    </div>

				<div class="profile">
	    	        <h3>Festansvarig</h3>
	    	        <div class="stabProfile">{{ 'stab/fanny.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Fanny Reslow</li>
                        	<li><span>Ålder:</span>Gammal</li>
	    	                <li><span>Pluggar:</span>Interaktionsdesign, år 2</li>
	    	                <li><span>Citat:</span>“Whoop Whoop!!”</li>
	    	                <li><span>Favvomuta:</span>Cocka, sprit, fest</li>
	    	                <li><span>Staben säger:</span>Den enda riktiga kvinnan sexmästeriet: Festansvarig, Fanny Reslow. Vem är vår alldeles egna lundatös? Jo, Fanny. Vem lyckas bli utkastad från O’Learys? Jo, Fanny. Vem skrattar ALLTID när man härmar en fågel? Jo, Fanny. Även om hon är från Lund, är hon en av de få som inte har legat med Timbuktu, eller? Om man kan bortse från hennes skånska, är hon en driftig, smart, singeltjej i sina bästa år ;)</li>
	    	            </ul>
	    	        </div>
	    	    </div>

				<div class="profile">
	    	        <h3>Informationsansvarig</h3>
	    	        <div class="stabProfile">{{ 'stab/marcus.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Marcus Ahlstrand</li>
                        	<li><span>Ålder:</span>Med några år på nacken!</li>
	    	                <li><span>Pluggar:</span>Interaktionsdesign, år 2</li>
	    	                <li><span>Citat:</span>“Hallå Elle”</li>
	    	                <li><span>Favvomuta:</span>Allt med en alkoholhalt över 5%</li>
	    	                <li><span>Staben säger:</span>Stabens infoansvarig kommer direkt från Östermalms finaste gator, Marcus Ahlstrand. Vaskar du på fest eller under en utekväll blir du genast hans bästavän! Men tillslut skärpte han sig, packade ner sin champagne och flydde till Sveriges sommarstad, Kalmar. Även om det inte är Stockholm gillar Marcus fortfarande att beställa skaldjursplatå och dricka det finaste vinet huset hava.</li>
	    	            </ul>
	    	        </div>
	    	    </div>

			</div>

{% endblock %}
