---
title: Stab
slug: stab
position: 30
listed: true
published: true
is_layout: false
---
{% extends parent %}
{% block 'main' %}
  	        <div id="wrapBra">
	    	    <h1>Detta är vår Eminenta Stab!</h1>
	    	    <p>Staben 2016 består av 8 trogna SPIIKare som under aktiviteterna mestadels kommer att ha arslet nedslaget i en brassestol i väntan på mutor. Du kommer känna igen dem på deras heta röda overaller och glada festhumör. De har planerat och offrat mycket tid för att ta fram en givande och oförglömlig nollning för er, så visa tacksamhet och respekt.</p>

	    	    <div class="profile">
	    	        <h3>General</h3>
	    	        <div class="stabProfile">{{ 'stab/jagkantuggaglas.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Jessica “Fritjof” Frithiof</li>
                        <li><span>Ålder:</span>Odödlig</li>	    	                <li><span>Pluggar:</span>Interaktionsdesign, år 2</li>	    	                <li><span>Citat:</span>"Det här är bra"</li>
	    	                <li><span>Favvomuta:</span>Glass till Staben, Lyxshake(Blåbär), Lakrits, Öl, High-fives.</li>
	    	                <li><span>Staben säger:</span>Innan hon kom till Kalmar levde hon ett fridfullt och lagligt liv i Linkan. Numera lever hon som den glada, sprudlande brudN på dagN. Men mot småtimmarna förvandlas hon till Fyllegeneralen “Fritjof” och stjäl godis från små barn. Stay on her good side, kids!</li>
	    	            </ul>
	    	        </div>
	    	    </div>            <div class="profile">            	  <h3>Vice General</h3>            	  <div class="stabProfile">{{ 'stab/Parrster.jpg' | theme_image_tag }}</div>            	  <div class="stabInfo">            	    	<ul>            	    	    <li><span>Namn:</span>Paulina “Punani” Eile</li>	    	                <li><span>Ålder:</span>Lika gammal som Bosse</li>            	    	    <li><span>Pluggar:</span>Interaktionsdesign, år 2</li>	    	                <li><span>Citat:</span>"In ut töm glöm"</li>            	    	    <li><span>Favvomuta:</span>Marabou, rödvin, glitter</li>            	    	    <li><span>Staben säger:</span>Storstadsglidaren fick nog av 08-eliten och flydde söderut mot kustens hjärta. Ett konstant springande mellan diverse klubbar på nattetid blev historia och byttes ut mot cykel och billig skumpa. Donken släng dig i väggen, Max har tagit över denna kvinnans liv! </li>            	    	</ul>            	  </div>            </div>            <div class="profile">                <h3>Vice General</h3>                <div class="stabProfile">{{ 'stab/Katt.jpg' | theme_image_tag }}</div>                <div class="stabInfo">                    <ul>                        <li><span>Namn:</span>Pernilla “Catlady” Johansson</li>                        <li><span>Ålder:</span>Oklart, men nio liv</li>                        <li><span>Pluggar:</span>Interaktionsdesign, år 3</li>	    	                <li><span>Citat:</span>"Jag ska bara medicinera katterna"</li>                        <li><span>Favvomuta:</span>Kattsaker, mocca-lakrits-snus, rödvin</li>                        <li><span>Staben säger:</span>Efter att ha blivit uppfostrad bland renarna i norr kände sig denna kvinna lite vilsen. En flytt på över tusen mil så kom hon äntligen fram till Kalmar där hon fann sin rätta identitet bland katterna. Mjao mjauuu mjao mjaoooiiii.</li>                    </ul>                </div>            </div>	    	    <div class="profile">
	    	        <h3>Huvudfadder ID</h3>
	    	        <div class="stabProfile">{{ 'stab/Josse.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
                        <li><span>Namn:</span>Josefine “Bosse” Liljeblad</li>	    	                <li><span>Ålder:</span>Lika gammal som Punani</li>
	    	                <li><span>Pluggar:</span>Interaktionsdesign, år 2</li>	    	                <li><span>Citat:</span>“Though life”</li>
	    	                <li><span>Favvomuta:</span>Agwa, green-burger, cigg</li>
	    	                <li><span>Staben säger:</span>Uppvuxen i Skånes finare delar och dotter till bygdens präst, men låt inte det lura er! Resor till Helsingør i tidig ålder satte fart på partypinglan och öldrickandet har legat på topp sedan dess. Havets närhet och svalkande vindar bidrar till hennes överlevnad. Annars skulle hon smälta bort pga av hennes extremt heta utstrålning.</li>
	    	            </ul>
	    	        </div>
	    	    </div>


	    	    <div class="profile">
	    	        <h3>Huvudfadder UDM</h3>
	    	        <div class="stabProfile">{{ 'stab/kimkim.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Kim “Dash” Nilsson</li>
	    	                <li><span>Ålder:</span>35</li>
	    	                <li><span>Pluggar:</span>Utveckling av Digitala tjänster, år 3</li>	    	                <li><span>Citat:</span>“Mängden kiosk ens”</li>
	    	                <li><span>Favvomuta:</span>Öl, Såpbubblor, Chili-cheese</li>
	    	                <li><span>Staben säger:</span>Denna halvfinne sägs ha tömt Max lager på chili-cheese. När Slask kom in i bilden räckte det inte till båda vilket ledde till att han fick trappa ner. Han klassas nu som badmintonens Björn Borg och tränar nu inför nästa OS. Ilmoita Dash te kääntää tämän niin saat viisi pistettä.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Huvudfadder WP</h3>
	    	        <div class="stabProfile">{{ 'stab/kingen.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Sandra “Kamprad” Hansson</li>
	    	                <li><span>Ålder:</span>69(an) år</li>
	    	                <li><span>Pluggar:</span>IKEA</li>	    	                <li><span>Citat:</span>“Finns det chips?”</li>
	    	                <li><span>Favvomuta:</span>Chips, Ikea-varor, Massage av män (inte pojkar)</li>
	    	                <li><span>Staben säger:</span>Ingvar Kamprads okända avkomma som tog med sig IKEA till Kalmar. Lite för länge har hon spridit glädje inom SPIIK men hennes rutin och kunskap är guld värd. En jävel på att festa och ha kul har gjort henne till en given del av festeriet i Kalmar de senaste åren. Blir du vän med henne blir du automatiskt cool. </li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Lektant</h3>
	    	        <div class="stabProfile">{{ 'stab/loksteredit.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Loke “Tuff-tuff” Carlsson</li>
	    	                <li><span>Ålder:</span>Nytillverkad</li>
	    	                <li><span>Pluggar:</span>Webbproggrammering, år 2</li>	    	                <li><span>Citat:</span>"En fucking sån där"</li>	    	                <li><span>Favvomuta:</span>Snabbar glajjor, agwa, en fucking sån där</li>
	    	                <li><span>Staben säger:</span>Denna man i sina bästa år är vår olympiska mästare och vinnaren av Tour De France. Väl i mål slutade han ej där, utan fortsatte sin cykelfärd till Kalmar för att klara nästa stora utmaning, studentlivet! Bangar aldrig fest och dricker bäst...spårar även mest.</li>
	    	            </ul>
	    	        </div>
	    	    </div>            <div class="profile">                <h3>Huvudfadder WP</h3>                <div class="stabProfile">{{ 'stab/Oscarsvincool.jpg' | theme_image_tag }}</div>                <div class="stabInfo">                    <ul>                        <li><span>Namn:</span>Oscar “Slask” Nordquist</li>                        <li><span>Ålder:</span>12</li>                        <li><span>Pluggar:</span>Webbproggrammering, år 2</li>	    	                <li><span>Citat:</span>"Ska du äta det där?"</li>                        <li><span>Favvomuta:</span>Mat och vuxendricka</li>                        <li><span>Staben säger:</span>Slask blir aldrig mätt. Myten säger att han har en liten mask i magen och livnär sig på allas matlådor, så ett tips gottfolk: lämna aldrig din mat obevakad! Hans unga ålder har resulterat i att Staben ständigt måste köpa ut vuxendricka.</li>                    </ul>                </div>            </div>
	    	    </div>
{% endblock %}
