---
title: Stab
slug: stab
position: 30
listed: true
published: true
is_layout: false
---
{% extends parent %}
{% block 'main' %}
  	        <div id="wrapBra">
	    	    <h1>Detta är vår Eminenta Stab!</h1>
	    	    <p>Staben 2015 består av 7 trogna SPIIKare som under aktiviteterna mestadels kommer att ha arslet nedslaget i en brassestol i väntan på mutor. Du kommer känna igen dem på deras heta röda overaller och glada festhumör. De har planerat och offrat mycket tid för att ta fram en givande och oförglömlig nollning för er, så visa tacksamhet och respekt.</p>

	    	    <div class="profile">
	    	        <h3>General</h3>
	    	        <div class="stabProfile">{{ 'stab/antonMaster.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">

	    	            <ul>
	    	                <li><span>Namn:</span>Anton "Ullis" Larsson</li>
	    	                <li><span>Ålder:</span>15-18</li>
	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
	    	                <li><span>Favvomuta:</span>Cigg och Öl</li>
	    	                <li><span>Staben säger:</span>En rehabiliterad källarnörd som utväcklades till en normal människa när han fick trots mycket om och men en flickvän. Anton är en rolig och schysst människa som trots, med en skakig bakgrund levererar SPIIKs anda i vått och torrt, han gillar också CSGO.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Vice General</h3>
	    	        <div class="stabProfile">{{ 'stab/stripp.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
                            <li><span>Namn:</span>Kristoffer "Stripp-offer" Svensson</li>
	    	                <li><span>Ålder:</span>30</li>
	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 2</li>
	    	                <li><span>Favvomuta:</span>Själar och sprit</li>
	    	                <li><span>Staben säger:</span>Som liten fick han inte vara med och dansa med de andra flickorna. Nu är han myndig och får bestämma själv, därav överanvändandet av klänningar och kvinnliga peruker.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Vice General</h3>
	    	        <div class="stabProfile">{{ 'stab/globen.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Sara "Globen" Pettersson</li>
	    	                <li><span>Ålder:</span>15</li>
	    	                <li><span>Pluggar:</span>Pengar</li>
	    	                <li><span>Favvomuta:</span>Lilla couscous, godis och såpbubblor</li>
	    	                <li><span>Staben säger:</span>Effter sin roll i Mission impossible har hon blivit anställd av ESS för att spionera på SPIIK, något alla i SPIIK är fullt medvetna om. Trots kunskapen om detta finns det ingen som orkar göra något åt det.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Huvudfadder WP</h3>
	    	        <div class="stabProfile">{{ 'stab/reb.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Rebecca "Reb" Fransson</li>
	    	                <li><span>Ålder:</span>37</li>
	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
	    	                <li><span>Favvomuta:</span>Glitter och häst(kött)</li>
	    	                <li><span>Staben säger:</span>Pågrund utav alla steroider och medicinska droger hon använder för sin tränning stannade hennes åldrande vid 20 års åldern.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Huvudfadder WP</h3>
	    	        <div class="stabProfile">{{ 'stab/sodermalm.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Richard "Södermalm" Söderman</li>
	    	                <li><span>Ålder:</span>17</li>
	    	                <li><span>Pluggar:</span>Webbprogrammering, år 2</li>
	    	                <li><span>Favvomuta:</span>Tvål och cider</li>
	    	                <li><span>Staben säger:</span>Tatueringen på hans arm är efter en fängelse vistelse. Han vägrar berätta vad det står för. Vi tror det är efter antalet gånger han tappat tvålen i duschen.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Huvudfadder UDM</h3>
	    	        <div class="stabProfile">{{ 'stab/dasnkJavel.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Anton "Dansken" Magnusson</li>
	    	                <li><span>Ålder:</span>46</li>
	    	                <li><span>Pluggar:</span>Utvecklare av Digitala tjänster, år 3</li>
	    	                <li><span>Favvomuta:</span>Pölse och Dansk Fadöl</li>
	    	                <li><span>Staben säger:</span>Utstött som liten, valde han att fly landet med endast pölse och Dansk fadöl i sitt baggage för att finna lyckan. Tyvärr hamnade han endast i Kalmar.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    <div class="profile">
	    	        <h3>Huvudfadder ID</h3>
	    	        <div class="stabProfile">{{ 'stab/pottaj.jpg' | theme_image_tag }}</div>
	    	        <div class="stabInfo">
	    	            <ul>
	    	                <li><span>Namn:</span>Filip "Pottan" Sjöberg</li>
	    	                <li><span>Ålder:</span>Nytillverkad</li>
	    	                <li><span>Pluggar:</span>Interaktionsdesigner, år 2</li>
	    	                <li><span>Favvomuta:</span>Kondomer, aurora och torra skämt</li>
	    	                <li><span>Staben säger:</span>Trots hans uppväxt i Göteborg heter han inte Glenn.</li>
	    	            </ul>
	    	        </div>
	    	    </div>
	    	    </div>
{% endblock %}
